* text=auto

*.php text eol=lf
*.sh text eol=lf
*.sql text eol=lf
*.ini text eol=lf
*.htaccess text eol=lf
*.md text eol=lf
*.example text eol=lf
*.gitignore text eol=lf
*.gitattributes text eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.pdf binary
*.zip binary
``